* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.before-after-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .before-after-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}



/* CSS Variables */
/* Dark Light Mode */
*:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

body[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: #121212;
}

/* Styled */
.profile_styled {
    box-shadow: var(--box-shadow);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-position: 0px -3px;
    object-fit: cover;
}

/* Social Medias */

.icons_styled {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  grid-auto-flow: column;
}

.icons_styled li {
  list-style: none;
}

.icons_styled li i {
  font-size: 40px;
  color: var(--primary-color);
}

.icons_styled li i:hover {
  color: var(--primary-variant);
}

.grid-item  {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

.grid-card-styled {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid-layout-styled {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

@media screen and (max-width: 992px) {
  .grid-layout-styled {
    grid-template-columns: 1fr;
  }
}



/* Starter */
.profile {
  width: 150px;
  height: 150px;
}
